<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="./styles.css" rel="stylesheet" />
    <link href="../../styles.css" rel="stylesheet" />
    <title>{{Login.title}}</title>
  </head>
  <body>
    <main class="auth">
      <h1 class="auth__title">{{Login.title}}</h1>
      <form class="auth-form">
        <label class="auth-form__label" for="{{Login.form.email.name}}">
          {{Login.form.email.label}}
        </label>
        <input
          id="{{Login.form.email.name}}"
          name="{{Login.form.email.name}}"
          placeholder="{{Login.form.email.placeholder}}"
          type="email"
          class="auth-form__input"
        />
        <label class="auth-form__label" for="{{Login.form.password.name}}">
          {{Login.form.password.label}}
        </label>
        <input
          id="{{Login.form.password.name}}"
          name="{{Login.form.password.name}}"
          placeholder="{{Login.form.password.placeholder}}"
          type="password"
          class="auth-form__input"
        />
        <div>

        </div>
        {% block button %}
          {% set className = "auth-form__submit-button" %}
          {% set type = "submit" %}
          {% set title = Login.form.button.label %}
          {% include "../../components/Button/button.njk" %}
        {% endblock %}

        {% block link %}
          {% set title = Login.link.label %}
          {% set href = "../Registration/index.njk" %}
          {% include "../../components/Link/link.njk" %}
        {% endblock %}
      </form>
    </main>
    <script src="../../js/form.js"></script>
  </body>
</html>
