<div class="hidden">
  <div>
    <label for="{{Dialog.form.attach.photo.name}}">
      {{Dialog.form.attach.photo.label}}
    </label>
    <input
      id="{{Dialog.form.attach.photo.name}}"
      name="{{Dialog.form.attach.photo.name}}"
      type="file"
    />
  </div>
  <div>
    <label for="{{Dialog.form.attach.file.name}}">
      {{Dialog.form.attach.file.label}}
    </label>
    <input
      id="{{Dialog.form.attach.file.name}}"
      name="{{Dialog.form.attach.file.name}}"
      type="file"
    />
  </div>
  <div>
    <label for="{{Dialog.form.attach.location.name}}">
      {{Dialog.form.attach.location.label}}
    </label>
    <input
      id="{{Dialog.form.attach.location.name}}"
      name="{{Dialog.form.attach.location.name}}"
      type="file"
    />
  </div>
</div>
