<section class="daily-chat">
  <time class="daily-chat__date">{{date}}</time>
  {% for message in messages %}
    <div class="daily-chat__message chat-message{% if message.me %} daily-chat__message--me chat-message--me{% endif %}">
      {% if message.img %}
        <img
          src="{{message.img.src}}"
          alt="{{message.img.description}}"
          height="210"
          width="315"
          class="daily-chat__picture"
        />
      {% else %}
        <p class="chat-message__content">{{message.text}}</p>
      {% endif %}
      <time class="chat-message__time{% if message.img %} chat-message__time--img{% endif %}{% if message.me %} chat-message__time--me{% endif %}">{{message.time}}</time>
    </div>
  {% endfor %}
</section>
