<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="./styles.css" rel="stylesheet" />
    <link href="../../styles.css" rel="stylesheet" />
    <title>{{Error500.title}}</title>
  </head>
  <body>
    <main class="error">
      <h1 class="error__title">{{Error500.title}}</h1>
      <p class="error__description">{{Error500.description}}</p>

      {% block link %}
        {% set title = Error500.link.label %}
        {% set href = "../../index.njk" %}
        {% include "../../components/Link/link.njk" %}
      {% endblock %}
    </main>
  </body>
</html>
