.error {
    width: 200px;
    margin: 300px auto;
}

.error__title {
    margin: 0 0 20px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    color: var(--black);
}

.error__description {
    margin: 0 0 70px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    color: var(--black);
}
