<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="./styles.css" rel="stylesheet" />
    <link href="../../styles.css" rel="stylesheet" />
    <title>{{Dialog.title}}</title>
  </head>
  <body class="chat-container">
    <aside>
      {% block chatList %}
        {% set chatList = Dialog.chatList %}
        {% include "../../components/ChatList/chat-list.njk" %}
      {% endblock %}
    </aside>
    <div class="dialog">
      <header class="dialog__header">
        {% block avatar %}
          {% set className = "dialog__avatar" %}
          {% set height = 50 %}
          {% set width = 50 %}
          {% include "../../components/Avatar/avatar.njk" %}
        {% endblock %}
        <h1 class="dialog__title">{{Dialog.chatName}}</h1>
        {% include "./components/ProfileActions/index.njk" %}
      </header>
      <main class="daily-chat-container">
        {% for dailyChat in Dialog.dailyChats %}
          {% block dailyChat %}
            {% set date = dailyChat.date %}
            {% set messages = dailyChat.messages %}
            {% include "../../components/DailyChat/daily-chat.njk" %}
          {% endblock %}
        {% endfor %}
        <form class="send-message-container">
          {% include "./components/ChatActions/index.njk" %}
          <div class="send-message">
            <label class="hidden" for="{{Dialog.form.sendMessage.name}}">
              Отправить сообщение
            </label>
            <input
              id="{{Dialog.form.sendMessage.name}}"
              name="{{Dialog.form.sendMessage.name}}"
              type="text"
              placeholder="Сообщение"
              class="send-message__input"
            />
          </div>
          <button class="send-message__button" type="submit"></button>
        </form>
      </main>
    </div>
  </body>
</html>
