.chat-container {
    display: flex;
    justify-content: space-between;
}

.dialog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%;
}

.dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lightGray);
    width: 100%;
    padding: 10px 0;
}

.dialog__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialog__title {
    margin: 0 0 0 10px;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: var(--black);
}

.send-message-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--lightGray);
    padding: 10px 0;
}

.send-message {
    width: 100%;
}

.send-message__input {
    background-color: var(--lightGray);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: var(--gray);
    width: 100%;
    border: none;
}

.send-message__button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary);
    margin-left: 10px;
}
