<img
    alt="Аватар"
    height="{% if height %}{{height}}{% else %}150{% endif %}"
    src="https://via.placeholder.com/150"
    width="{% if width %}{{width}}{% else %}150{% endif %}"
    {% if className %}class="{{className}}"{% endif %}
/>
