<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Главная</title>
    <meta charset="utf-8" />
    <link href="./styles.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <ul>
        <li><a href="./pages/Error500/index.njk">500</a></li>
        <li><a href="./pages/Error404/index.njk">404</a></li>
        <li><a href="./pages/Login/index.njk">Вход</a></li>
        <li><a href="./pages/Registration/index.njk">Регистрация</a></li>
        <li><a href="./pages/Dialog/index.njk">Чат</a></li>
        <li><a href="./pages/ChatList/index.njk">Список чатов</a></li>
        <li><a href="./pages/ProfileView/index.njk">Профиль</a></li>
        <li><a href="./pages/ProfileEdit/index.njk">Редактирование профиля</a></li>
        <li><a href="./pages/PasswordChange/index.njk">Смена пароля</a></li>
      </ul>
    </main>
  </body>
</html>
