name: Node.js CI

on:
  pull_request:
  push:
    branches:
      - master


jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Set up GitHub Actions
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Get testing lib
  #    run: mkdir $HOME/.ssh && echo "${{ secrets.key }}" > "$HOME/.ssh/id_rsa" && chmod 600 ~/.ssh/id_rsa && git clone git@github.com:girolle/autotest.git
      run: set -eu && git clone https://github.com/girolle/autotest.git
    - name: Check npm run start existence
      run: bash autotest/check_start.sh
    - name: Check Parcel in start script
      run: bash autotest/check_start.sh
    - name: Check PORT 3000
      run: bash autotest/check_port.sh
    - name: Check routing
      run: node autotest/check_routing.js
    - name: Check linters
      run: npm -s i --prefix autotest && node autotest/check_lint.js
