name: Node.js CI

on:
  pull_request:
  push:
    branches:
      - master


jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: mkdir $HOME/.ssh && echo "${{ secrets.key }}"
    - run: touch $HOME/.ssh/id_rsa
    - run: echo "${{ secrets.key }}" > "$HOME/.ssh/id_rsa"
    - run: sh .github/workflows/test.sh
